
@{
    ViewBag.Title = "Index";
}
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<div style="text-align: center;">
    <h2>Thanh toán thành công</h2>
    <p><a href="@Url.Action("Index", "Home")">Tiếp tục mua hàng</a></p>
    <p><a href="@Url.Action("Index", "Cart")">Trở lại</a></p>
</div>

<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
