
@{
    ViewBag.Title = "Success";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />

<h2>Cảm ơn bạn đã đặt hàng!</h2>
<p>Chúng tôi đã gửi thông báo thanh toán đến địa chỉ email của bạn.</p>

